.backgroundImage {
  background: black;
  overflow: hidden;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("../../public/assets/herocastle.jpeg");
  object-fit: cover;
  background-size: cover;
}

.wrapper {
  margin-top: 5rem;
}

.noDecoration {
  text-decoration: none;
}

.card {
  min-height: 600px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.imageSize {
  width: auto;
  height: 250px;
  object-fit: cover;
}

.logo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    margin-top: 2rem;
  }

  .card {
    width: 90vw;
    height: auto;
  }
}
